body
{
   background-color: #41474F;
   margin: 0px;
   padding: 0px;
}

.Top
{
    display: flex;
    height: 100px;
    width: 100%;
}

#Title
{
    margin: 0 auto;
}

#Title img
{
    padding: 0;
    margin: 0;
    height: 100px;
    width: auto;
}

.Menu
{
    position: relative;
    display: inline-block;
    float: right;
}

.Dropdown_Button
{
    -webkit-backface-visibility: hidden;
    background-image: url(Menu-Icon-Passive.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    margin: 0;
    border: none;
    height: 100px;
    width: 100px;
    
    -webkit-perspective: 1000;
    -webkit-transition: 1s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.Dropdown_Button:hover
{
    background-image: url(Menu-Icon-Hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    margin: 0;
    border: none;
    height: 100px;
    width: 100px;
    
    -webkit-perspective: 1000;
    -webkit-transition: 1s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
}

.Dropdown_Button:focus
{
    outline: none;
}

.Dropdown_Button span
{
    display: none;
}

.Dropdown_Content
{
    display: none;
    position: absolute;
    background-color: #41474F;
    min-width: 200px;
    padding: 0;
    margin: 0;
}

.Dropdown_Button:hover .Dropdown_Content
{
    display: block;
}

.Dropdown_Content a
{
    color: black;
    padding: 0 auto;
    text-decoration: none;
    width: 200px;
    display: block;
}

.Frame
{
   width: 100%;
   height: 100%;
   position: fixed;
   float: top;
}

.Frame #iFrameDisplay
{
    width: 100%;
    height: 100%;
    background-color: #F6FFFF;
    border: none;
}



