body
{
   background-color: #41474F;
   margin: 0px;
   padding: 0px;
   
   text-align: center;
}

img[src$=".png"]
{
    image-rendering: optimizeQuality;
}

.Top
{
    display: flex;
    position: fixed;
    top: 0%;
    float: top;
    height: 100px;
    width: 100%;
    z-index: 999;
}

header
{
    
}

#Title
{
    margin: 0 auto;
}

#Title img
{
    padding: 0;
    margin: 0;
    padding-left: 100px;
    height: 100px;
    width: auto;
    overflow: auto;
}

.Menu
{
    position: relative;
    display: inline-block;
    float: right;
    z-index: 999;
    font-size: 0;
}

.Dropdown_Button
{
    -webkit-backface-visibility: hidden;
    background-image: url(Menu-Icon-Passive.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    margin: 0;
    border: none;
    height: 100px;
    width: 100px;
    
    -webkit-perspective: 1000;
    -webkit-transition: 1s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.Dropdown_Button:hover
{
    background-image: url(Menu-Icon-Hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    margin: 0;
    border: none;
    height: 100px;
    width: 100px;
    
    -webkit-perspective: 1000;
    -webkit-transition: 1s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
}

.Dropdown_Button:focus
{
    outline: none;
}

.Dropdown_Button span
{
    display: none;
}

.Dropdown_Content
{
    display: none;
    position: absolute;
    background-color: #41474F;
    min-width: 100px;
    right: 0;
}

.Dropdown_Content a
{
    color: #41474F;
    font-family: "Josefin Sans", sans-serif;
    background-color: #3BABE8;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    display: block;
    
    -webkit-perspective: 1000;
    -webkit-transition: 1s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
}

.Dropdown_Content a:hover
{
    color: #3BABE8;
    background-color: #41474F;
    
    -webkit-perspective: 1000;
    -webkit-transition: 1s ease;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
}

.Menu:hover .Dropdown_Content
{
    display: block;
}

.Menu:hover .Dropdown_Button
{
    background-image: url(Menu-Icon-Hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.Frame
{
   width: 100%;
   height: auto;
   top: 100px;
   bottom: 50px;
   position: fixed;
   display: flex;
   overflow: auto;
   float: inside;
}

.Frame #iFrameDisplay
{
    display: block;
    width: 100%;
    height: auto;
    background-color: #F6FFFF;
    margin: 0;
    
    border: none;
}

footer
{
    z-index: 998;
    height: 50px;
    position: fixed;
    float: none;
    background-color: #41474F;
    width: 100%;
    bottom: 0%;
}

.Contacts ul
{
    list-style-type: none;
    
    display: flex;   
    flex-direction: row;  
    justify-content: center;   
    align-items: center;
    flex-wrap: nowrap;
   
    
    margin-top: 0px;
    
    padding: 0 auto;
    margin: 0 auto;
    
}

.Contacts li
{
    height: 50px;
    width: 40px;
    
    padding: 0 20px;
    
    border-right: 3px #3BABE8 solid;
    
}

.Contacts li:first-child
{
    width: 50px;
}
.Contacts li:last-child
{
    border-right: none;
}

.Contacts li img
{
    transition: 1s;
    padding-top: 5px;
    
    height: 40px;
    
    max-height: 100%;
    max-width: 100%;
}

.Contacts li:first-child img
{
    padding-top: 10px;
    height: 33px;
}

.Contacts a
{
    display: none;
}

.Contacts li:hover img
{
    display: none;
}

.Contacts li:hover
{
    padding-right: 0;
    padding-left: 0;
    width: max-content;
    
    

}

.Contacts li:hover a
{    
    display: flex;
    
    width: max-content;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
    height: 50px;
    width: max-content;
    
    padding: 0 20px;
    margin: 0 auto;
    
    background-color: #3BABE8;
    color: #41474F;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    
}


/****************************************************************/



::-webkit-scrollbar
{
    width: 15px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    
    
}


::-webkit-scrollbar-track
{
    background-color: #41474F;
    
    border-top-color: #3BABE8;
    border-top-style: solid;
    border-top-width: 3px;
    
    border-bottom-color: #3BABE8;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    
}

::-webkit-scrollbar-thumb
{
    background-color: #3BABE8;
}



.SectionTitle
{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    padding-left: 5%;
    margin-right: 0;
    padding-right: 50px;
    padding-top: 10px;
    font-family: "Josefin Sans";
    font-size: 35px;
    font-variant: small-caps;
    font-weight: bold;
    
    color: #41474F;
    transition: 1.5s;
    
}

.SectionTitle:hover
{
    padding-left: 0;
    color: #3BABE8;
    transition: 1.5s;
    cursor: default
}

.Content
{
    color: #41474F;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.About
{
    background-color: #E6EDED;
    padding-bottom: 0;
}

.About .Content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
}

.About .PersonalStatement
{
    
    margin: 20px 10%;
    
}

.About .SubsectionContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10%;
}

.Subsection
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    background-color: #41474F;
    color: #3BABE8;
    border-radius: 10px;
    
    height: 300px;
    width: 30%;
    min-width: 300px;
    margin: 5px 0;
    padding: 5px 0;
}

.Subsection img
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 100px;
    padding-right: 5px;
    
}

.Subsection .SSTop
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    
}

.SSList
{
    padding: 0;
    margin: 0;
    
}

.SSList ul
{
    list-style-type: symbols;
    
    margin:0 auto;
    padding: 0 auto;
}

.SSList li
{
    padding-bottom: 0;
}

.Language
{
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Skills
{
    background-color: #F6FFFF;
}

.SkillTitle
{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.LangBoxContainer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.LangBox
{
    text-align: center;
    max-height: max-content;
    width: 200px;
    background-color: #41474F;
    color: #3BABE8;
    border-radius: 10px;
    
    padding: 5px 0;
    margin-bottom: 5px;
    
    margin-right: 5px;
    margin-left: 5px;
    
    transition: 1s ease-out;
}

.LangBoxContainer .row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 5%;
    
}

.LangBox .HoverContent
{
    max-height: 0;    
    overflow: hidden;
    transition: max-height 1s ease-in;   
    text-align: left;
}

.LangBox:hover > .HoverContent
{
    display: flex;
    max-height: 300px;
          
    transition: max-height 1s ease-in;
}

.LangBox:hover
{
    width: 250px;
    transition: 1s;
}

.HoverContent ul
{
    padding: 0 25px;
}

.Projects
{
    background-color: #E6EDED;
}

.ProjectRowContainer
{
    padding: 0;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.ProjectRow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.Project
{
    width: 400px;
    height: 400px;
    text-align: center;
    color: #3BABE8;
    
    background-color: #41474F;
    
    padding: 10px;
    margin: 15px;
    
    border-radius: 10px;
}
